@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

header {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  padding: 25px;
  margin-bottom: 24px;

  background-color: #F7F2FA;
}

header .Progress {
  position: fixed;
  left: 50%;
  transform: translate(-53%);
}

@media (max-width: 1000px) {
  header .Progress {    
    position: static;
    left: auto;
    transform: none;
  }
}

header .ProgressItem {
  transform: scale(0.7);
}

header .MenuButton {
  transform: scale(0.7);
}

.Progress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 18px;
}

.ProgressItem {
  width: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Info {
  display: none;
}

.Info.visible {
  max-height: 30%;
  max-width: 60%;
  height: fit-content;

  display: flex;
  flex-direction: row;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  padding: 25px;
  padding-left: 50px;
  border-radius: 100px;
  background-color: #F7F2FA;
}

.InfoMouseHandler {
  display: none;
}

.InfoMouseHandler.visible {
  display: block;
  position: fixed;
  top: 425px;
  width: 65%;
  height: 30%;
}

.InfoText {
  display: none;
}

.InfoText.visible {
  display: block;
  overflow-y: scroll;
}

.Question {
  display: none;
}

.Question.visible {
  display: block;
}

.Erklaerung {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: -10%;
  transform: scale(1);
}

md-icon-button {
  width: 60px;
  height: 60px;
}

md-linear-progress {
  width: 150px;
  margin-top: 28px;
}

md-filled-button {
  margin: 18px;
  font-family: "Inika";
}

md-elevated-button {
  margin: 18px;
  font-family: "Inika";
}

md-outlined-text-field {
  width: 150px;
}

md-list {
  flex-direction: row;
  width: max-content;
  align-items: start;
  margin: 12px;
  padding: 0;
}

md-list-item {
  width: 280px;
  height: 250px;
  align-items: start;
}

.AuswahlIcon {
  width: 60px;
  height: auto;
}

.AngabenIcon {
  width: 50px;
  height: auto;
}

.BerechnungIcon {
  width: 60px;
  height: auto;
}

.Home {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}


.Titel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -75px;
}

.Logo {
  margin-right: -125px;
  position: relative;
  bottom: 140px;
  margin-bottom: -200px;
}

.MenuButton md-icon-button .MenuLogo {
  transform: scale(7);
}

.MenuButton md-icon-button {
  width: 100px;
  height: 100px;
}

h1, h3, h4, h5, h6{
  margin: 18px;
  font-family: "Inika";
  font-weight: 400;
  font-size: 25px;
}

h1 {
  font-weight: 700;
  font-size: 47px;
}

h4 {
  font-size: 20px;
  margin: 0;
}

h5 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  font-size: 14px;
}

.Horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: fit-content;
  height: fit-content;
}

.HorizontalTop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  min-width: fit-content;
  height: fit-content;
}

.Vertical {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Continue {
  margin-left: 1075px;
}